easydict==1.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
nlpaug==1.1.10
nltk==3.7
numpy==1.19.5
pandas==1.4.2
sklearn==0.0
spacy==3.3.0
transformers==4.2.1
torch
simcse
easydict
gym==0.26.2
stable_baselines3==2.4.1
shimmy
tensorboard